<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= search %></title>
    <style>
      body{
         background-color: rgb(225, 236, 236);
      }
      .heading{
        margin: auto;
      }
      .search-result{
        display: flex;
        align-content: center;
      }
      p {
        padding: 1rem;
      }
      p>a{
        text-decoration: none;
        color:rgb(211, 219, 226);
      }
.title{
  color:rgb(211, 219, 226);
  background-color: rgb(16, 163, 114);
}
      .component{
        background-color: rgb(21, 187, 187);
        color: rgb(211, 219, 226);
      }

    </style>
  </head>
  <body>
    <h1 class="heading">Search Results</h1>
<% for (let i=0; i<searchResults.length; i++ ){ %>
    <div class="search-result">
      <p class="title">
        <a href="/showDetail/<%= i %>"
          ><%= searchResults[i].title %></a
        >
      </p>
      <p class="component"><%= searchResults[i].seeds %></p>
      <p class="component"><%= searchResults[i].leeches %></p>
      <p class="component"><%= searchResults[i].size %></p>
      <p class="component"><%= searchResults[i].comment %></p>
    </div>
  <% } %>
  </body>
</html>
